**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.next
**/dist
**/coverage
**/*.md
**/docs
**/.env
**/.env.local
**/k8s
**/.claude
**/.zencoder
**/.zenflow
**/scripts
docker-compose.yml
.dockerignore
